apiVersion: apps/v1
kind: Deployment
metadata:
  name: docs-v5
  namespace: docs-telefon1c
spec:
  replicas: 1
  selector:
    matchLabels:
      app: docs-v5
  template:
    metadata:
      labels:
        app: docs-v5
    spec:
      containers:
        - name: nginx
          image: ghcr.io/telefon1c/docs-v5:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /v5/
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /v5/
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 10
